/* Centralização do contêiner de login */
.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Ajuste para acomodar o header */
}

.login-container {
    width: 600px; /* Aumenta a largura */
    padding: 60px; /* Padding interno ajustado */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px;
    text-align: center;
}

/* Ajustes para o formulário */
.input-group {
    margin-bottom: 20px; /* Espaço entre grupos */
    margin-top: 50px;
}

.input-group label {
    display: block;
    margin-bottom: 5px; /* Espaço abaixo do label */
    font-weight: bold; /* Torna o texto do rótulo em negrito */
}

.input-group input {
    width: 100%; /* Largura total */
    padding: 15px; /* Padding interno dos inputs */
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px; /* Ajusta o tamanho da fonte */
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 50px;
}

.button-group button {
    width: calc(50% - 20px); /* Ajusta a largura dos botões */
    padding: 12px; /* Padding interno dos botões */
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 18px; /* Ajusta o tamanho da fonte */
    cursor: pointer;
}

.button-group button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 20px;
}

.links a {
    margin-right: 20px;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}