/* Estilos para centralizar o componente de troca de senha */
.troca-senha-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta o alinhamento para o topo */
    min-height: calc(100vh - 80px); /* Ajuste de altura para acomodar o header */
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 80px; /* Margem para separar do cabeçalho */
    padding-bottom: 40px; /* Espaçamento extra na parte inferior */
}

.troca-senha-container {
    width: 100%;
    max-width: 500px; /* Define um tamanho máximo para o contêiner */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px;
    text-align: left; /* Alinhamento do texto à esquerda */
    box-sizing: border-box; /* Inclui padding na largura total */
    overflow: hidden; /* Esconde bordas arredondadas */
}

.troca-senha-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.troca-senha-container form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento entre os campos do formulário */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%; /* Inputs ocupam 100% da largura do grupo */
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
    box-sizing: border-box;
}

/* Centralização do botão */
.button-group {
    display: flex;
    justify-content: center; /* Centraliza o botão */
    margin-top: 20px;
}

.button-group button {
    width: 50%; /* Ajusta a largura do botão */
    padding: 12px; /* Padding interno do botão */
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px; /* Ajusta o tamanho da fonte */
    cursor: pointer;
    box-sizing: border-box;
}

.button-group button:hover {
    background-color: #0056b3;
}

.troca-senha-container p {
    text-align: center;
    margin-top: 20px;
    color: red;
    font-weight: bold;
}