section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

.excluir-btn {
    background-color: #dc3545;
}

.excluir-btn:hover {
    background-color: #c82333;
}

footer {
    padding: 20px;
    color: #fff;
    text-align: center;
    background-image: url('../imagens/imgheader.jpg');
    background-size: cover;
    background-position: center;
}

footer div {
    margin-bottom: 20px;
}

.contact, .address, .payment {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.payment img {
    max-width: 50px;
    margin: 0 5px;
}

/* Estilos para centralizar o carrinho de solicitação */
.carrinho-solicitacao-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta o alinhamento para o topo */
    min-height: calc(100vh - 80px); /* Ajuste de altura para acomodar o header */
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 80px; /* Margem para separar do cabeçalho */
    padding-bottom: 40px; /* Espaçamento extra na parte inferior */
}

.carrinho-solicitacao-container {
    width: 100%;
    max-width: 800px; /* Define um tamanho máximo para o contêiner */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px;
    text-align: left; /* Alinhamento do texto à esquerda */
    box-sizing: border-box; /* Inclui padding na largura total */
    overflow: hidden; /* Esconde bordas arredondadas */
}

.carrinho-solicitacao-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.carrinho-solicitacao-container ul {
    list-style: none;
    padding: 0;
}

.carrinho-solicitacao-container ul li {
    margin-bottom: 10px;
}

.carrinho-solicitacao-container ul li button {
    margin-left: 10px;
    border-radius: 5px;
}

.carrinho-solicitacao-container ul li button:hover {
    background-color: #0056b3;
}
