section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

.excluir-btn {
    background-color: #dc3545;
}

.excluir-btn:hover {
    background-color: #c82333;
}

.carrinho-solicitacao-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 80px; 
    padding-bottom: 40px; 
}

.carrinho-solicitacao-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
}

.carrinho-solicitacao-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.carrinho-solicitacao-container ul {
    list-style: none;
    padding: 0;
}

.carrinho-solicitacao-container ul li {
    margin-bottom: 10px;
}

.carrinho-solicitacao-container ul li button {
    margin-left: 10px;
    border-radius: 5px;
}

.carrinho-solicitacao-container ul li button:hover {
    background-color: #0056b3;
}
